.header {
  width: 100%;
  height: 75px;
  background-color: #5e9cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-l {
  margin-left: 2rem;
  font-size: 2rem;
  color: #ffffff;
}
.header-r {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header-contents {
  font-size: 1.2rem;
  margin: 0 2rem;
  color: #ffffff;
}
.header-contents-button {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #4e86de;
  border-radius: 30px;
  padding: 0 2.2rem;
}
.top-wrapper {
  width: 100%;
  height: calc(100vh - 75px);
  background-color: #dce5f2;
  display: grid;
  place-items: center;
}
.container {
  max-width: 1000px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 150px 0 200px 0;
}
.question {
  margin-bottom: 50px;
}
.input-form {
  max-width: 600px;
  width: 90%;
  margin-bottom: 60px;
}
.input-form input {
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  border: 2px solid #dce5f2;
  filter: drop-shadow(0 1px 2px #40404034);
  padding: 0 1rem;
  font-size: 1.2rem;
}
.input-form input:focus {
  border: 2px solid #5e9cff;
  outline: none;
}
.button-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next {
  max-width: 200px;
  width: 100%;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: #5e9cff;
  color: #ffffff;
  margin: 0 50px;
  cursor: pointer;
}
.back {
  max-width: 200px;
  width: 100%;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: #90969f;
  color: #ffffff;
  margin: 0 50px;
  cursor: pointer;
}
