.header {
  width: 100%;
  height: 75px;
  background-color: #5e9cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-min {
  display: none;
}
.header-l {
  margin-left: 2rem;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}
.header-r {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header-contents {
  font-size: 1.2rem;
  margin: 0 2rem;
  color: #ffffff;
}
.header-contents-button {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #4e86de;
  border-radius: 30px;
  padding: 0 2.2rem;
}
.top-wrapper {
  width: 100%;
  min-height: calc(100vh - 75px);
  background-color: #dce5f2;
  display: grid;
  place-items: center;
}
.container {
  max-width: 1000px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 150px 0 200px 0;
}
.question {
  margin-bottom: 50px;
}
.input-form {
  max-width: 600px;
  width: 90%;
  margin-bottom: 60px;
}
.input-form input {
  width: 100%;
  height: 4rem;
  border-radius: 20px;
  border: 2px solid #dce5f2;
  filter: drop-shadow(0 1px 2px #40404034);
  padding: 0 1rem;
  font-size: 1.2rem;
}
.input-form input:focus {
  border: 2px solid #5e9cff;
  outline: none;
}
.select-form {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.select-form button {
  width: 150px;
  height: 60px;
  background-color: #dce5f2;
  display: grid;
  place-items: center;
  border-radius: 30px;
  color: #585d65;
  cursor: pointer;
  margin: 0 10px 60px;
}
.button-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.next {
  max-width: 200px;
  width: 100%;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: #5e9cff;
  color: #ffffff;
  margin: 0 50px 60px;
  cursor: pointer;
}
.back {
  max-width: 200px;
  width: 100%;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  background-color: #90969f;
  color: #ffffff;
  margin: 0 50px 60px;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
  .header {
    display: none;
  }
  .header-min {
    width: 100%;
    background-color: #5e9cff;
    display: flex;
    position: absolute;
    z-index: 10;
  }
  .header-min-l {
    font-size: 2rem;
    color: #ffffff;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 628px) {
  .container {
    margin-top: 80px;
    padding: 50px 0 20px 0;
    border-radius: 40px;
  }
}
/*--ここからハンバーガーメニュー--*/
.hamburger {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 10px;
  right: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger div {
  position: relative;
  width: 40px;
  height: 5px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#toggle {
  display: none;
}
#toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}
#toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
#toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
#toggle:checked + .hamburger + .nav {
  top: 0;
}
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #5e9cff;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav .nav-wrapper {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
nav {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
nav a {
  margin-top: 1.25em;
  color: #ffffff;
  opacity: 0;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
nav a:first-child {
  margin-top: 0;
}
#toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#toggle:checked + .hamburger + .nav .nav-wrapper nav a:hover {
  opacity: 1;
  color: white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
