body {
  background-color: #dce5f2;
}
.main-visual {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.main-visual-img {
  width: 100%;
  min-height: 80vh;
  position: absolute;
}
.header-min {
  display: none;
}
.header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.header-l {
  font-size: 2rem;
  color: #ffffff;
  margin-left: 2rem;
}
.header-r {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header-contents {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 2rem;
}
.header-contents-button {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #4e86de;
  border-radius: 30px;
  padding: 0 2.2rem;
}
.main-contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 20vh;
}
.main-contents-l {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.main-contents-l span {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 3rem;
}
.get-start {
  width: 300px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e86de;
  border-radius: 38px;
  font-size: 1.3rem;
  color: #ffffff;
  filter: drop-shadow(0 3px 6px #40404034);
  cursor: pointer;
}
.get-start:active {
  filter: none;
  transform: translate(0, 2px);
}
.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 50px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
  background: transparent;
  margin-left: 15px;
}
.main-contents-r {
  margin-right: 2rem;
}
.main-contents-r img {
  width: 700px;
  height: auto;
}
/*---------about---------*/
#about {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 25px;
  margin-top: 400px;
}
.about-contents {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50px;
  filter: drop-shadow(0px 1px 4px #40404030);
}
.about-contents svg {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.card-title {
  font-size: 1.2rem;
  color: #585d65;
}
.card-text {
  max-width: 250px;
  width: 90%;
  color: #90969f;
  text-align: center;
}
/*---------about---------*/
/*-----------contact------------*/
#contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-contents {
  max-width: 1000px;
  width: 80%;
  margin: 80px 0;
}
.result-contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-contents {
  display: flex;
  padding: 15px 0;
}
.form-contents p {
  width: 35%;
  font-size: 1rem;
  color: #17171b;
  line-height: 3rem;
}
input {
  width: 65%;
  height: 3rem;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  color: #17171b;
  border: solid 1px #9696aa;
  border-radius: 5px;
  padding: 0 0.5rem;
}
.form-contents input::placeholder {
  color: #9696aa;
}
.form-contents input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4e86de;
}
textarea {
  width: 65%;
  height: 20rem;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  color: #17171b;
  border: solid 1px #9696aa;
  border-radius: 5px;
  resize: none;
  padding: 0.25rem 0.5rem 0;
}
textarea::placeholder {
  color: #9696aa;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4e86de;
}
@media screen and (max-width: 896px) {
  .form-contents {
    flex-direction: column;
    padding: 5px 0;
  }
  .form-contents p {
    width: 100%;
  }
  .form-contents textarea {
    width: 100%;
  }
  .form-contents input {
    width: 100%;
  }
}
.contact-btn button {
  max-width: 500px;
  width: 100%;
  height: 75px;
  margin: 50px auto 0;
  background-color: #4e86de;
  display: grid;
  place-items: center;
  border-radius: 38px;
}
.contact-btn button:hover {
  max-width: 500px;
  width: 100%;
  height: 75px;
  margin-top: 50px;
  background-color: #ffffff;
  border: 4px solid #4e86de;
  display: grid;
  place-items: center;
}
.contact-btn p {
  color: #ffffff;
  font-weight: 700;
}
.contact-btn button:hover p {
  color: #4e86de;
  font-weight: 700;
}
p {
  margin: 0;
}
/*-------------contact-------------*/
@media screen and (max-width: 1500px) {
  #about {
    margin-top: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .main-visual-img {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    object-fit: cover;
  }
  .main-contents-r img {
    width: 500px;
    height: auto;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 920px) {
  .main-contents {
    flex-direction: column;
  }
  .header {
    display: none;
  }
  .header-min {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 10;
  }
  .header-min-l {
    font-size: 2rem;
    color: #ffffff;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .main-contents-l span {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  .main-contents-r img {
    width: 100%;
    height: auto;
  }
  #about {
    margin-top: 100px;
  }
}
/*--ここからハンバーガーメニュー--*/
.hamburger {
  position: absolute;
  width: 50px;
  height: 45px;
  top: 10px;
  right: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger div {
  position: relative;
  width: 40px;
  height: 5px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#toggle {
  display: none;
}
#toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}
#toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
#toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
#toggle:checked + .hamburger + .nav {
  top: 0;
}
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #5e9cff;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav .nav-wrapper {
  position: relative;
  overflow-y: auto;
  height: 100%;
}
nav {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
nav a {
  margin-top: 1.25em;
  color: #ffffff;
  opacity: 0;
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
nav a:first-child {
  margin-top: 0;
}
#toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#toggle:checked + .hamburger + .nav .nav-wrapper nav a:hover {
  opacity: 1;
  color: white;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
